streamlit
langchain
langchain-core
langchain-community
langchain-google-genai
langchain-text-splitters
langchain-openai
langchain-chroma
google-generativeai
pypdf
sentence-transformers
beautifulsoup4
pydantic>=2.0
rank-bm25
